apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault-deployment
data:
  vault.hcl: |
    storage "file" {
      path = "/vault/data"
    }

    listener "tcp" {
      address       = "0.0.0.0:8200"
      tls_cert_file = "/vault/certs/tls.crt"
      tls_key_file  = "/vault/certs/tls.key"
    }

    api_addr = "https://vault.minikube.local"

    ui = true
    disable_mlock = true

    seal "shamir" {
      secret_shares    = 3
      secret_threshold = 2
    }
