# Number of replicas for the Vault deployment
replicaCount: 1

# Image configuration for the Vault server
image:
  repository: trialu4tbby.jfrog.io/vault-repo/vault-server
  tag: ""
  pullPolicy: IfNotPresent

# Service configuration for accessing Vault
service:
  type: ClusterIP
  port: 8200
  #nodePort: 32000  # Ensure this is set to a valid NodePort range (30000-32767)

vault:
  addr: "https://vault.vault-deployment.svc.cluster.local:8200"
  externalAddr: "https://vault.minikube.local"
  clusterAddr: "https://vault.vault-deployment.svc.cluster.local:8201"


# Storage configuration for Vault
storage:
  backend: "raft"  # Use "file" for non-HA
  path: "/vault/data"

# SSL certificate paths
certificates:
  tlsCrtPath: "/vault/certs/tls.crt"
  tlsKeyPath: "/vault/certs/tls.key"

# Security context for the Vault server
server:
  securityContext:
    runAsUser:  1000
    fsGroup: 1000
    runAsNonRoot: true

  # Init container to fix permissions on the data directory
  extraInitContainers:
    - name: fix-permissions
      image: busybox
      command: [ "sh", "-c", "chown -R 1000:1000 /vault/data && chmod -R 770 /vault/data" ]
      securityContext:
        runAsUser:  0
      volumeMounts:
        - name: vault-data
          mountPath: /vault/data

  volumeMounts:
    - mountPath: /vault/data
      name: vault-data

# Persistent volume configuration
volumes:
  - name: vault-data
    persistentVolumeClaim:
      claimName: vault-pvc # Ensure PVC exists in your deployment

extraVolumes:
  - name: vault-ssl-certs
    secret:
      secretName: vault-ssl-certs

extraVolumeMounts:
  - name: vault-ssl-certs
    mountPath: /vault/certs
    readOnly: true
